.building-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.h1 {
  width: 1233px;
  height: 30px;
  padding-left: 235px;

  text-align: left;

  color: var(--Black-colour, #000);
  font-family: "Playfair Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-map {
  display: flex;
  padding: 67px 107px 50px 107px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.text-boxes {
  display: flex;
  justify-content: space-between;
  gap: 68px;
  padding: 67px 107px 50px 107px;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.map {
  height: 287px;
  width: 70vw;
}

.h2 {
  width: 1233px;
  height: 30px;
  position: absolute;
  right: 101px;
  top: 50px;
  color: var(--Black-colour, #000);

  /* Heading 2 */
  font-family: "Playfair Display";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}

.Contact {
  display: grid;
  width: 1439px;
  padding: 100px 107px 50px 107px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 35px;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 250px;
}
