* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 80px 0;
}

.building-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.map {
  height: 287px;
  align-self: stretch;
}

.h2 {
  width: 1233px;
  height: 30px;
  position: absolute;
  right: 101px;
  top: 50px;
  color: var(--Black-colour, #000);

  /* Heading 2 */
  font-family: "Playfair Display";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
