* {
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: flex-start;
}

.building-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.map {
  height: 287px;
  align-self: stretch;
}
