.building-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.text-boxes {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 67px 107px 50px 107px;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
}

.map {
  height: 287px;
  align-self: stretch;
}
