* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 80px 0;
}

.building-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.map {
  height: 287px;
  align-self: stretch;
}
